body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.right, .left {
    width: 30%;
}

article {
    width: 60%;
}

.right p, .left p, article p {
    line-height: 1.6;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ecf0f1;
}
