body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
    width:100%;
}

/* Container to hold both tab and content */
.container {
    display: flex;
    width: 100%;
  }

/* Style the tab on the left */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 20%; /* Adjusted width for the tabs */
  }
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 14px 16px; /* Adjusted padding */
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the content on the right */
  .content {
    width: 80%;
    margin-right: 50px;
    /* Adjusted width for the content */
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px;
    width: 100%;
    border: none;
  }
  
  /* Additional style for the active tab content */
  .tabcontent.active {
    display: block;
  }
  

h2 {
    color: #3498db;
}

p {
    line-height: 2;
    margin-right: 50px;
    font-size: medium;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
  }

ul {
    list-style-type: circle; /* Use 'disc', 'circle', or 'square' for different bullet styles */
    padding-left: 20px; /* Adjust as needed */
}

li {
    margin-bottom: 0.5em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightslategray;
  color: white;
  text-align: center;
  padding: 10px; /* Add padding if necessary */
}

